Repository hyedi3x/Nardrak_Team, pull requests merged in 2025-02, with the labels that each got.

#10 [Admin] 관리자 회원가입 페이지 구현
  README.md
  nardrak_spring_mvc.sql
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/AdminController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/AdminDAO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/AdminDAOImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dto/AdminDTO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/AdminService.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/AdminServiceImpl.java
  nardrak_spring_mvc/src/main/resources/mappers/adminMapper.xml
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/join/actionResult.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/join/idConfirm.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/join/signUp.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/join/terms.jsp
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/join/idConfirm.css
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/join/join.css
  nardrak_spring_mvc/src/main/webapp/resources/css/common/common.css
  nardrak_spring_mvc/src/main/webapp/resources/image/admin/logo.png
  nardrak_spring_mvc/src/main/webapp/resources/js/admin/join/join.js
  nardrak_spring_mvc/target/classes/mappers/adminMapper.xml
Labels: 📃 Docs, 🕹️Java, ✨ Feature, 🕹️JSP, 🕹️SQL, 🎨UI, 🕹️Spring

#11 [Settings] gitIgnore 수정 & 버그 수정
  .gitignore
  README.md
  nardrak_spring_mvc.sql
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/join/README.md
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/join/join.css
  nardrak_spring_mvc/src/main/webapp/resources/image/common/seoul.png
  nardrak_spring_mvc/src/main/webapp/resources/js/admin/join/join.js
  nardrak_spring_mvc/src/main/webapp/sql/nardrak_spring_mvc.sql
  nardrak_spring_mvc/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
  nardrak_spring_mvc/target/m2e-wtp/web-resources/META-INF/maven/com.spring/nardrak_mvc/pom.properties
Labels: 🎨UI, ⚙ Settings, 🔨 Refactor, 🕹️ JavaScript

#14 [project] Customer_join
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/CustomerController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/CustomerDAO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/CustomerDAOImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dto/CustomerDTO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/CustomerService.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/CustomerServiceImpl.java
  nardrak_spring_mvc/src/main/resources/mappers/customerMapper.xml
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/common/header.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/actionResult.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/join/idConfirmAction.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/join/join.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/join/joinAgreement.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/login/login.jsp
  nardrak_spring_mvc/src/main/webapp/resources/css/common/header.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/join/agree.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/join/idconfirm.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/join/join.css
  nardrak_spring_mvc/src/main/webapp/resources/js/customer/agree.js
  nardrak_spring_mvc/src/main/webapp/resources/js/customer/daumAPI.js
  nardrak_spring_mvc/src/main/webapp/resources/js/customer/join.js
  nardrak_spring_mvc/src/main/webapp/sql/nardrak_spring_mvc.sql
  nardrak_spring_mvc/target/classes/mappers/customerMapper.xml
  nardrak_spring_mvc/target/m2e-wtp/web-resources/META-INF/maven/com.spring/nardrak_mvc/pom.properties
Labels: 🐞 Bug, 📬 API, 🕹️Java, ✨ Feature, 🕹️JSP, 🕹️SQL, 🎨UI, 🕹️Spring, 🕹️ JavaScript, 🕹️ AJAX

#17 [Header_dev1] header 메뉴 변경 및 이미지 제
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/common/admin_header.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/common/header.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/common/customer_header.jsp
  nardrak_spring_mvc/src/main/webapp/resources/css/common/header.css
  nardrak_spring_mvc/src/main/webapp/resources/js/header.js
Labels: 🕹️Java, ✨ Feature, 🕹️JSP, 🎨UI, 🕹️Spring, 🕹️ JavaScript, 🕹️ AJAX

#20 [Image_upload_dev1] 관리자 이미지 업로드 및 수정/삭제 관련 페이지 구현
  nardrak_spring_mvc/pom.xml
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/CustomerController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/ImageUploadController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/ImageUploadDAO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/ImageUploadDAOImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dto/ImageUploadDTO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/ImageUploadService.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/ImageUploadServiceImpl.java
  nardrak_spring_mvc/src/main/resources/mappers/imageUploadMapper.xml
  nardrak_spring_mvc/src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/image/imageUpload.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/common/main.jsp
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/image/ImageUpload.css
  nardrak_spring_mvc/src/main/webapp/resources/css/common/main.css
  nardrak_spring_mvc/src/main/webapp/resources/image/common/seoul.png
  nardrak_spring_mvc/src/main/webapp/resources/js/admin/image/ImageUpload.js
  nardrak_spring_mvc/src/main/webapp/resources/js/main.js
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/busan.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/jeju.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/seoul2.png
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/seoul3.png
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/seoul4.png
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/seoul_tower.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/설악산.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/여수.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/전북.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/제주도_올레길.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/해운대.jpg
  nardrak_spring_mvc/src/main/webapp/sql/nardrak_spring_mvc.sql
Labels: 🕹️Java, ✨ Feature, 🕹️JSP, 🕹️SQL, 🎨UI, 🕹️Spring, 🕹️ JavaScript

#22 [fix] gitignore 수정
  .gitignore
  Servers/.project
  Servers/Tomcat v9.0 Server at localhost-config/catalina.policy
  Servers/Tomcat v9.0 Server at localhost-config/catalina.properties
  Servers/Tomcat v9.0 Server at localhost-config/context.xml
  Servers/Tomcat v9.0 Server at localhost-config/server.xml
  Servers/Tomcat v9.0 Server at localhost-config/tomcat-users.xml
  Servers/Tomcat v9.0 Server at localhost-config/web.xml
  nardrak_spring_mvc/src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml
  nardrak_spring_mvc/src/main/webapp/sql/nardrak_myInfo.sql
  nardrak_spring_mvc/src/main/webapp/sql/nardrak_spring_mvc.sql
  nardrak_spring_mvc/target/classes/dataSource-config.xml
  nardrak_spring_mvc/target/classes/log4j.xml
  nardrak_spring_mvc/target/classes/mappers/adminMapper.xml
  nardrak_spring_mvc/target/classes/mappers/customerMapper.xml
  nardrak_spring_mvc/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
  nardrak_spring_mvc/target/m2e-wtp/web-resources/META-INF/maven/com.spring/nardrak_mvc/pom.xml
  nardrak_spring_mvc/target/test-classes/log4j.xml
Labels: 🐞 Bug, ⚙ Settings

#24 [Travel api dev1] 국내 여행지 page 구현
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/AdminController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/ChooseController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/FavoriteController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/LocalController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/ChooseDAO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/ChooseDAOImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/FavoriteDAO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/FavoriteDAOImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/LocalDAO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/LocalDAOImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dto/ChooseDTO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dto/FavoriteDTO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dto/LocalDTO.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/page/Paging.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/ChooseService.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/ChooseServiceImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/FavoriteService.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/FavoriteServiceImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/LocalService.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/LocalServiceImpl.java
  nardrak_spring_mvc/src/main/resources/mappers/chooseMapper.xml
  nardrak_spring_mvc/src/main/resources/mappers/favoriteMapper.xml
  nardrak_spring_mvc/src/main/resources/mappers/localMapper.xml
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/choose/choose.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/choose/chooseDetail.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/choose/chooseDetailPage.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/local/local.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/local/locationDetail.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/local/locationDetailPage.jsp
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/choose/chooseDetail.css
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/location/locationDetail.css
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/location/locationDetailPage.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/choose/choose.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/local/local.css
  nardrak_spring_mvc/src/main/webapp/resources/image/common/localDetailImg/속초바다.jpg
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/63빌딩.jpg
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/광화문 광장.jpg
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/남산.jpg
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/남산타워2.jpg
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/명동.jpg
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/목면.jpg
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/여의도공원.jpg
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/은평.JPG
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/국내여행/한강공원.jpg
  nardrak_spring_mvc/src/main/webapp/resources/js/admin/choose.js
  nardrak_spring_mvc/src/main/webapp/resources/js/admin/location/locationDetail.js
  nardrak_spring_mvc/src/main/webapp/resources/js/customer/trable.js
  nardrak_spring_mvc/src/main/webapp/resources/upload/choose/모두투어 독도.avif
  nardrak_spring_mvc/src/main/webapp/resources/upload/choose/모두투어 섬여행.avif
  nardrak_spring_mvc/src/main/webapp/resources/upload/choose/모두투어 시골.avif
  nardrak_spring_mvc/src/main/webapp/resources/upload/choose/모두투어 제주.avif
  nardrak_spring_mvc/src/main/webapp/resources/upload/local/seoul_tower.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/local/광화문.png
  nardrak_spring_mvc/src/main/webapp/resources/upload/local/독립기념관.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/local/설악산.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/local/에버랜드.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/local/제주월드컵경기장.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/local/죽녹원.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/local/해운대.jpg
  nardrak_spring_mvc/src/main/webapp/sql/nardrak_spring_mvc.sql
Labels: 📬 API, 📃 Docs, 🕹️Java, ✨ Feature, 🕹️JSP, 🕹️SQL, 🎨UI, 🕹️Spring, 🕹️ JavaScript, 🕹️ AJAX

#25 [UI] 전체 UI 수정
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/controller/ImageUploadController.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/ImageUploadServiceImpl.java
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/accessList/accessList_admin.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/common/admin_header.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/customerList/customerList_admin.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/imageUP/imageUpload.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/admin/login/loginAdmin.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/common/header.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/common/main.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/common/customer_header.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/join/idConfirmAction.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/join/join.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/login/login.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/modifyDelete/modifyInfo.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/myInfo/leftMenuTab/Ajax_left.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/myInfo/leftMenuTab/toggle_left.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/myInfo/myInfo.jsp
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/accessList/accessList_admin.css
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/imageUP/ImageUpload.css
  nardrak_spring_mvc/src/main/webapp/resources/css/admin/join/join.css
  nardrak_spring_mvc/src/main/webapp/resources/css/common/common.css
  nardrak_spring_mvc/src/main/webapp/resources/css/common/footer.css
  nardrak_spring_mvc/src/main/webapp/resources/css/common/header.css
  nardrak_spring_mvc/src/main/webapp/resources/css/common/main.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/delete/deleteInfo.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/join/agree.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/join/idconfirm.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/join/join.css
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/login/login.css
  nardrak_spring_mvc/src/main/webapp/resources/css/myInfo/myInfo.css
  nardrak_spring_mvc/src/main/webapp/resources/css/myInfo/myInfo_Inquiry/qnaGuide.css
  nardrak_spring_mvc/src/main/webapp/resources/css/myInfo/myInfo_Inquiry/qnaRequest.css
  nardrak_spring_mvc/src/main/webapp/resources/css/myInfo/myInfo_Inquiry/qnaResponse.css
  nardrak_spring_mvc/src/main/webapp/resources/css/myInfo/pwdChkInfo.css
  nardrak_spring_mvc/src/main/webapp/resources/image/customer/login/7979161.jpg
  nardrak_spring_mvc/src/main/webapp/resources/js/admin/imageUP/ImageUpload.js
  nardrak_spring_mvc/src/main/webapp/resources/js/customer/join.js
  nardrak_spring_mvc/src/main/webapp/resources/js/main.js
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/busan.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/jeju.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/경복궁.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/경주.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/남산타워.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/남이섬.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/대전.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/속초.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/수원.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/제주도.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/한강.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/main/해운대 블루라인파크의 해변열차.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/seoul2.png
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/seoul3.png
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/seoul4.png
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/seoul_tower.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/설악산.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/여수.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/전북.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/제주도_올레길.jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/admin/해운대.jpg
Labels: 🐞 Bug, 🕹️JSP, 🎨UI, 🔨 Refactor, 🕹️ AJAX

#28 [UI 수정] 1:1 문의 내역 이미지 수정
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/dao/MyInfoDAOImpl.java
  nardrak_spring_mvc/src/main/java/com/spring/nardrak_mvc/service/MyInfoServiceImpl.java
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/customer/modifyDelete/modifyInfo.jsp
  nardrak_spring_mvc/src/main/webapp/WEB-INF/views/myInfo/myInfo_Inquiry/qnaResponse/res_status.jsp
  nardrak_spring_mvc/src/main/webapp/resources/css/customer/join/join.css
  nardrak_spring_mvc/src/main/webapp/resources/css/myInfo/modifyInfo/modifyInfo.css
  nardrak_spring_mvc/src/main/webapp/resources/css/myInfo/myInfo_Inquiry/qnaRequest.css
  nardrak_spring_mvc/src/main/webapp/resources/css/myInfo/myInfo_Inquiry/res_status.css
  nardrak_spring_mvc/src/main/webapp/resources/upload/myInfo/myInfo_Inquiry/AKR20210430108100054_01_i_P4(1).jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/myInfo/myInfo_Inquiry/롯데월드(1).jpg
  nardrak_spring_mvc/src/main/webapp/resources/upload/myInfo/myInfo_Inquiry/부산 롯데월드(1).jpg
Labels: 🎨UI
